* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #FFFDF7;
    color: #333333;
    min-height: 100vh;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Menu */
.menu {
    display: flex;
    justify-content: space-between;
    padding: 31px 100px;
    border-bottom: 1px solid #F6F5F0;
}

.logo img {
    height: 19px;
}

.nav-links {
    display: flex;
    gap: 53px;
}

.nav-links a {
    font-size: 14px;
    color: #333333;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Footer */
.footer {
    display: flex;
    justify-content: flex-end;
    padding: 31px 100px;
    border-top: 1px solid #F6F5F0;
    font-size: 14px;
}

/* Hero */
.hero {
    display: flex;
    height: 751px;
    width: 1440px;
    background: #E8F0E3;
}

.hero-content {
    flex: 1;
    padding: 227px 173px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero-content h1 {
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 8px;
}

.hero-content p {
    font-size: 18px;
    font-weight: 300;
    max-width: 362px;
}

.hero-img {
    width: 731px;
    background: url("/images/hero.jpg") center/cover no-repeat;
}

/* Products section */
.products-section {
    padding: 37px 0;
}

.products-title {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 100px;
    margin-bottom: 37px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 480px);
}

/* Product card */
.product-card {
    display: flex;
    flex-direction: column;
    height: 692px;
}

.product-image {
    height: 474px;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    flex: 1;
}

.product-name {
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    margin-bottom: 8px;
}

.product-description {
    font-size: 14px;
    color: #666666;
    text-align: center;
    margin-bottom: 20px;
}

.product-price {
    font-size: 14px;
    color: #333333;
    margin-bottom: 20px;
}

.product-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 77px;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    margin-bottom: -40px;
}

.product-link:hover {
    color: #FFFDF7;
    background: #333333;
}

.conviction-section, .values-section {
    display: flex;
    height: 646px;
}

.conviction-section {
    margin-top: -40px;
}

.conviction-content {
    flex: 1;
    background: #EBE3D3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    padding: 40px;
}

.conviction-image {
    width: 487px;
    background: url('/images/login.webp') center/cover no-repeat;
}

.conviction-content h2, .values-content h2 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.conviction-content p, .values-content p {
    font-size: 14px;
    font-weight: 300;
    color: #333333;
    max-width: 425px;
}

.values-image {
    width: 487px;
    background: url('/images/values.webp') center/cover no-repeat;
}

.values-content {
    flex: 1;
    background: #E8F0E3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: left;
    padding: 40px;
}

.values-section h2 {
    padding-right: 289px;
}

/* Single product card */
.single-product-section {
    height: 686px;
    display: flex;
}

.single-product-image {
    min-width: 734px;
    height: 686px;
    overflow: hidden;
}

.single-product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-product-card {
    padding: 87px 122px 0 119px;
    height: 686px;
    display: flex;
    flex-direction: column;
}

.single-product-name {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 24px;
}

.single-product-price {
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 50px;
}

.single-product-card h3 {
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 10px;
    color: #666666;
}

.single-product-description {
    font-weight: 400;
    font-size: 14px;
    color: #666666;
}

.single-product-cart {
    margin-top: auto;
}

.single-product-cart label {
    color: #666666;
}

.single-product-cart input[type="number"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #E5E5E5;
    font-size: 14px;
    text-align: center;
}

.single-product-button, .login-register-form button {
    width: 100%;
    padding: 30px 176px;
    background: #565656;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    border: none;
}

.single-product-button:hover,
.login-register-form button:hover {
    background: #000000;
    cursor: pointer;
}

/* Login and Register forms */
.login-register-section {
    display: flex;
    gap: 100px;
}

.login-register-image img {
    width: 734px;
}

.login-register-form {
    display: flex;
    flex-direction: column;
    padding: 80px 127px 0 0;
    width: 100%;
}

.login-register-form h1 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 41px;
}

.login-register-form p {
    font-weight: 400;
    font-size: 12px;
    color: #666666;
    margin-top: -31px;
    margin-bottom: 24px;
}

.login-register-form label {
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    margin-bottom: 10px;
}

.login-register-form > div > label {
    display: block;
}

.login-register-form input {
    width: 100%;
    background: #FFFDF7;
    height: 67px;
    margin-bottom: 30px;
    border: 1px solid #666666;
    padding: 15px;
}

.login-register-form a {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    margin-top: 30px;
}

.checkbox-row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.login-register-form div:has(input[type="checkbox"]) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.login-register-form div:has(input[type="checkbox"]) label {
    margin-bottom: 50px;
}

.login-register-form input[type="checkbox"] {
    width: 19px;
    height: 19px;
    margin-bottom: 48px;
}
